services:
  backend:
    image: yogesh601/handwrittenformai-backend:latest
    container_name: backend
    ports:
      - "${BACKEND_PORT}:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    environment:
      PYTHONUNBUFFERED: 1
    networks:
      - app-network
    restart: always

  frontend:
    image: yogesh601/handwrittenformai-frontend:latest
    container_name: frontend
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge
